@charset "UTF-8";
/* CSS Document */
/*Written by Cristina Henriquez*/


body {
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	margin:auto;
}
h1 {
	background-color: #F96;
	color: #FFF;
	letter-spacing: .15em;
}

blockquote {
	color: rgb(0,0,0);
	background-color: rgb(255,255,255);
	opacity: 0.5;
	text-align: left;
}

nav {
	color: rgb(0,0,0);
	background-color: rgb(255,255,255));	
	width: 570px;
	padding: 15px;
	margin: 0px auto 0px auto;
	text-align: center;
	word-spacing: 1em;
}
nav.sub {
	color: rgb(0,0,0);
	background-color: rgb(255,255,255);
}
li {
	display: inline;
	text-align: right;
}
#sitename {
	color: rgb(0,0,0);
	background-color: rgb(255,255,255);
	text-align: right;
}
a {
	color: rgb(0,0,0));	
	text-decoration: none;
}
nav a {
	color: rgb(0,0,0);	
}
nav a:visited {
	color: rgb(0,0,0);	
}
nav.sub a {
	color: rgb(255,255,255);	
	background-color: #F96;
	border: 5px dotted rgb(255,204,204);
	text-align: left;
}
a:link {
	color: rgb(0,0,0);
	text-decoration: none;
}
a:visited {
	color: rgb(102,102,102);
	text-decoration: none;
}
a:active {
	color: rgb(51,204,255);
	text-decoration: none;
}
a:hover {
	color: rgb(255,204,0));
}
a:visited {
	color: rgb(0,0,0);		
}
.column1of2 {
	float: left;
	width: 620px;
	margin: 10px;
}
.column2of2 {
	float: left;
	width: 300px;
	margin: 10px;
}
h2 {
	text-align: center;
}
h2.projects {
	word-spacing: 1.5em;
}
h2.projects a {
	color: rgb(153,153,153);
}
h4 {
	color: rgb(51,51,51)
}
h4 a: {
	color: rgb(51,153,204);	
}
.column-media {
	float: left;
	width: 550px;
	margin: 30px;
}
.alignment {
	text-align: center;
	margin: 0px auto;
}
div.content_menu {
	color: rgb(255,255,255);
	background-color: rgb(102,153,153);
}
div.menu_item a {
	color: rgb(102,153,153);
}
ul.photos img {
	border: 10px solid #F96; 
}
#about_me {
	width: 960px;
	margin: auto;
}
.column {
	width: 300px;
	float: left;
	margin: 10px;
}
.page_width {
	margin: auto;
	width: 960px;
}
p.about {
	padding: 50px;
	color: #F96	
}
h2 comic {
	align-content: center;
}
img.link {
	border: 5px solid rgba(139,238,47,1.00);
}